* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

.header {
    background-color: rgba(202, 219, 237, 75%);
    height: 100px;
    display: flex;
    align-items: center;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    margin-top: 15px;
}

.menu {
    display: flex;
}

.menu li {
    width: 25%;
}

.menu a {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 21px;
    color: rgb(44 113 184);
    border-left: solid 1px rgb(44 113 184);
    margin-top: 5px;
}

.menu li:last-child>a {
    border-right: solid 1px rgb(44 113 184);
}

.menu a:hover {
    background-color: rgb(44 113 184);
    color: white;
}

.serch-form {
    width: 200px;
    height: 40px;
    background-color: rgba(202, 219, 237, 0%);
    border: solid 1px rgb(44, 113, 184);
    padding: 3px 3px 3px 10px;

}

.inp-serch {
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-serch {
    width: 30px;
    height: 30px;
    border: solid 1px rgb(44 113 184);
    background-color: rgb(44 113 184);
    background-image: url(images/icon1.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

input::placeholder {
    color: rgb(44, 113, 184);
}

.serch {
    margin-top: 10px;
}

.basket {
    width: 40px;
    height: 40px;
    border: solid 1px white;
    background-color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(images/icon2.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.products-count {
    width: 20px;
    height: 20px;
    border: solid 1px rgb(44, 113, 184);
    background-color: rgb(44, 113, 184);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -12px;
    left: -10px;
}

.menu>li {
    position: relative;
}

.sub-menu {
    position: absolute;
    top: 55px;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(44, 113, 184);
    min-width: 200%;
}

.sub-menu a {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 21px;
    margin-top: 0;
    padding: 30px;
}

.sub-menu>li {
    min-width: 100%;
}

.sub-menu a:hover {
    color: rgb(44 113 184);
    background-color: white;
}

.menu>li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

span {
    padding: 0px 0px 25px 4px;
    transform: rotate(90deg);
    font-size: 28px;
}

.menu>li:hover>a {
    background-color: rgb(44 113 184);
    color: white;
}

.slider {
    height: 400px;
}

.bread-crumbs {
    height: 50px;
}

.bread-crumbs>a {
    color: rgb(202, 219, 237);
    line-height: 70px;
    padding: 0 5px 0 0;
}

.title {
    height: 100px;
    color: white;
    line-height: 80px;
    font-size: 40px;
    font-weight: bold;
}


.sort {
    margin-top: 10px;
}

.menu-sort>li {
    width: 100%;
    background-color: rgba(202, 219, 237, 75%);
}

.menu-sort>li a:hover {
    background-color: rgb(44 113 184);
    color: white;
}

.menu-sort>li {
    position: relative;
}

.menu-sort a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    text-decoration: none;
    font-size: 21px;
    color: rgb(44 113 184);
}

.sub-menu-sort {
    position: absolute;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(44, 113, 184);
    min-width: 100%;
    z-index: 1;
}

.sub-menu-sort a {
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}

.menu-sort>li:hover .sub-menu-sort {
    opacity: 1;
    visibility: visible;
}

.sub-menu-sort>li a:hover {
    background-color: white;
    color: rgb(44 113 184);
}

.menu-sort>li:hover>a {
    background-color: rgb(44 113 184);
    color: white;
}

.product {
    height: 650px;
    border: solid 1px rgb(202, 219, 237);
    margin-bottom: 30px;
}

.product-img {
    background-color: rgb(202, 219, 237);
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.zoom {
    width: 30px;
    height: 30px;
    border: solid 1px rgb(44 113 184);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(images/icon\ 16.png);
}

.like {
    width: 30px;
    height: 30px;
    border: solid 1px rgb(44 113 184);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 50px;
    right: 10px;
    background-image: url(images/icon14.png);
}

.zoom:hover {
    background-color: rgb(44 113 184);
}

.like:hover,
.liked {
    background-color: rgb(44 113 184);
}

.product-title {
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.product-description {
    font-size: 21px;
    color: white;
    padding: 7px 5px 7px 15px;
    line-height: 25px;
}

.product-features {
    font-size: 21px;
    color: white;
    padding: 7px 5px 7px 15px;
    line-height: 25px;
}

.text-card {
    font-size: 21px;
    font-weight: bold;
}

.product-price {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: white;
}

.btn {
    width: 210px;
    height: 50px;
    border: solid 1px white;
    background-color: rgb(44 113 184);
    margin: 10px 30px 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.btn-add-to-cart {
    text-align: left;
    padding: 25px;
    line-height: 1px;
    background-image: url(images/icon15.png);
    background-repeat: no-repeat;
    background-position-x: 160px;
    background-position-y: center;
}

.btn:hover {
    background-color: rgba(202, 219, 237, 25%);
}

.Filter {
    border: 1px solid white;
}

.device-filter>h3,
.color-filter>h3,
.ram-filter>h3 {
    font-size: 21px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.device-filter {
    height: 155px;
    padding: 30px;
}

.color-filter {
    height: 250px;
    padding: 30px;
}

.ram-filter {
    height: 250px;
    padding: 30px;
}

.p-filter {
    color: white;
    text-align: center;
    font-size: 21px;
    margin-bottom: 25px;
}

.input-text {
    color: white;
    font-size: 21px;
}

label {
    color: white;
    font-size: 21px;
    position: relative;
    margin: 20px;

}

input[type="checkbox"]:checked+label::before {
    background-color: white;
}

label::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: solid 1px white;
    position: absolute;
    top: 7px;

}

input[type="checkbox"] {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.modal-block {
    width: 280px;
    height: 240px;
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    margin: 100px auto;
}

.btn-wrap {
    display: flex;
    justify-content: flex-end;
}

.btn-wrap .btn-close {
    cursor: pointer;
}

.form-field {
    margin-bottom: 15px;
}

.form-field input {
    width: 100%;
    height: 30px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.slider-block>div {
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 150px 0px;
}